/* Custom formatting */
.icon {
	position: relative;
	top: 1px;
	display: inline-block;
	line-height: 1;
	width: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.progress { /* override of bootstrap */
	height: 60px; 
}
.progress-bar { /* override of bootstrap */
	line-height: 60px;
	font-weight: bold;
}
